body {
	color: #333;
	background: #fff;
	font-family: basisGrotesque, sans-serif;
	margin: 0 13%;
}

/* Barre de navigation */

nav {
	background-color: #000;
	padding: 2% 2%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav img {
	width: 80px;
	height: 80px;
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav ul a {
	display: flex;
	text-decoration: none;
	margin-left: 40px;
}

nav ul li {
	text-transform: uppercase;
	margin-right: 20px;
	cursor: pointer;
	color: #fff;
	transition: 0.5s;
}

nav ul li:hover {
	color: #ccbf50;
	text-decoration: none;
	transition: 0.5s;
}

.o {
	color:#ccbf50
}

/* Choix */

.choix {
	padding: 2% 0;
	display: flex;
	justify-content: space-between;
}

.catégories ul {
	display: flex;
	list-style-type: none;
}

.catégories ul li {
	text-transform: uppercase;
	margin-right: 20px;
	cursor: pointer;
}

.filtres ul {
	list-style-type: none;
}

/* OEUVRES */

.oeuvres {
	display: flex;
	padding: 2%
}

.oeuvres a {
	text-decoration: none;
	color: #000;
}

.oeuvre1 {
	background: #ccbf50;
}

/* FOOTER */
.footer {
	display: flex;
	justify-content: space-between;
	background-color: #000;
	color: #fff;
}

.footer p{
	padding: 2%;
}