body {
	color: #000;
	background: #fff;
	font-family: basisGrotesque, sans-serif;
	margin: 0 13%;
}

/* Barre de navigation */

nav {
	background-color: #000;
	padding: 2% 2%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav img {
	width: 80px;
	height: 80px;
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav ul a {
	display: flex;
	text-decoration: none;
	margin-left: 40px;
}

nav ul li {
	text-transform: uppercase;
	margin-right: 20px;
	cursor: pointer;
	color: #fff;
	transition: 0.5s;
}

nav ul li:hover {
	color: #b43f51;
	text-decoration: none;
	transition: 0.5s;
}

.o {
	color:#b43f51
}

.inscription {
	display:flex;
	justify-content: center;
	padding: 10%;
}

.box {
	text-align: center;
	padding: 5%;
	width: 420px;
	background-color: #b43f51;
}

.box .input-box {
	display: flex;
	width: 100%;
	height: 50px;
	margin: 30px 0;
	border-radius: 40px;
	background-color: #fff;
}

.input-box input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding: 0 45px 0 20px;
	background-color: transparent;
	font-size: 16px;
}

.input-boc input::placeholder{
	margin-left: 20px;
}

.input-box img {
	height: 30px;
	margin-right: 20px;
	margin-top: 10px;
}

.box .btn {
	width: 50%;
	height: 45px;
	background-color: #fff;
	border: none;
	outline: none;
	border-radius: 45px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	font-size: 16px;
}

.box .lien{
	font-size: 14.5px;
	padding: 4%;
}

/* FOOTER */
.footer {
	display: flex;
	justify-content: space-between;
	background-color: #000;
	color: #fff;
}

.footer p{
	padding: 2%;
}